$off-white: #f5f5f5
$almost-black: #2A2A2A
$almost-black-black: #191A19
$gray-brown: #4E4D4D
$grey: #B6B6B7
$dark-gray-brown: #363636

$HelveticaNeueMedium: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue"
$HelveticaNeueRegular: "HelveticaNeueRegular", "HelveticaNeue-Regular", "Helvetica Neue Regular", "HelveticaNeue", "Helvetica Neue"
