@import url(fonts.css);
* {
  margin: 0; }

body {
  font-family: HelveticaNeue, sans-serif;
  height: 100vh; }

a {
  text-decoration: none; }

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100vh; }
  header .brand {
    background-image: url(../img/logo.svg);
    background-size: cover;
    background-position: center;
    height: 135px;
    width: 135px;
    margin-bottom: 20px; }
  header h1 {
    font-family: "intro_bookregular";
    font-size: 2.5em;
    font-weight: 300;
    padding: 0 0 20px 0; }
  header h2 {
    font-size: 1.5em;
    font-weight: 300;
    padding: 0; }
  header a.cta {
    color: white;
    margin: 40px 0;
    padding: 10px 40px;
    background: #BA3525;
    -webkit-transition: 200ms all ease-in-out;
            transition: 200ms all ease-in-out;
    font-size: 1.2em;
    font-weight: 300; }
    header a.cta:hover {
      background: #A22F21;
      color: white; }

nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 100px;
  padding: 20px 0;
  line-height: 2.5em;
  bottom: 0;
  position: absolute;
  width: 100vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  nav a {
    margin: 0 15px;
    font-weight: 400;
    font-size: 0.8em;
    color: #ccc;
    -webkit-transition: 100ms all ease-in-out;
            transition: 100ms all ease-in-out;
    text-transform: uppercase; }
    nav a:hover {
      color: black; }
