@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  padding: 20px 0;
  line-height: 2.5em;
  width: 100vw;
  position: relative;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  nav a {
    margin: 0 15px;
    font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue";
    font-size: .8em;
    color: #B6B6B7;
    -webkit-transition: 100ms all ease-in-out;
    transition: 100ms all ease-in-out;
    text-transform: uppercase;
    text-decoration: none; }
    nav a:hover {
      color: #363636; }

@media (max-width: 600px) {
  nav {
    padding: 0 40px; } }

@media (min-width: 601px) {
  nav {
    bottom: 0;
    position: absolute; } }

* {
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: HelveticaNeue, sans-serif;
  background: #f5f5f5; }

a {
  text-decoration: none; }

.wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100vh; }

.brand {
  background-image: url(../img/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 110px;
  width: 110px;
  margin-bottom: 20px; }

h1 {
  font-family: "HelveticaNeueRegular", "HelveticaNeue-Regular", "Helvetica Neue Regular", "HelveticaNeue", "Helvetica Neue";
  font-size: 2.5em;
  font-weight: 300;
  padding: 0 0 20px 0;
  color: #2A2A2A; }

h2 {
  font-size: 1.2em;
  font-weight: 300;
  padding: 0;
  color: #4E4D4D; }

a.cta {
  color: white;
  margin: 35px 0;
  padding: 16.5px 30px;
  background: #819F7F;
  -webkit-transition: 200ms all ease-in-out;
  transition: 200ms all ease-in-out;
  text-transform: uppercase;
  font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue";
  font-size: 0.9em; }
  a.cta:hover {
    background: #718D6F;
    color: white; }

@media (max-width: 600px) {
  .wrap {
    height: calc(100vh - 100px); }
    .wrap .brand {
      margin-top: 20px; }
    .wrap h1 {
      max-width: 75vw;
      font-size: 30px; }
    .wrap h2 {
      max-width: 80vw; }
    .wrap .cta {
      margin: 20px 0 0 0; } }

@media (max-width: 325px) {
  .brand {
    height: 100px;
    width: 100px; }
  .wrap h1 {
    font-size: 26px; } }
