@import "bourbon"
@import "vars"
@import "nav"
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css)
*
  margin: 0
  box-sizing: border-box

body
  font:
    family: HelveticaNeue, sans-serif
  background: $bg

a
  text-decoration: none

.wrap
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  height: 100vh
.brand
  background:
    image: url(../img/logo.svg)
    size: contain
    repeat: no-repeat
    position: center
  +size(110px)
  margin-bottom: 20px
h1
  font:
    family: $HelveticaNeueRegular
    size: 2.5em
    weight: 300
  padding: 0 0 20px 0
  color: $almost-black
h2
  font:
    size: 1.2em
    weight: 300
  padding: 0
  color: $subheadline

a.cta
  color: white
  margin: 35px 0
  padding: 16.5px 30px
  background: $cta
  transition: 200ms all ease-in-out
  text-transform: uppercase
  font:
    family: $HelveticaNeueMedium
    size: 0.9em
  &:hover
    background: $cta-hover
    color: white

@media (max-width: 600px)
  .wrap
    height: calc(100vh - 100px)
    .brand
      margin-top: 20px
    h1
      max-width: 75vw
      font-size: 30px
    h2
      max-width: 80vw
    .cta
      margin: 20px 0 0 0
@media (max-width: 325px)
  .brand
    +size(100px)
  .wrap
    h1
      font-size: 26px
