@import url(fonts.css);
* {
  margin: 0; }

body {
  font-family: "Helvetica Neue", sans-serif; }

a {
  text-decoration: none; }

nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 60px;
  line-height: 2.5em; }
  nav a {
    margin: 0 20px;
    font-weight: 300;
    color: black;
    -webkit-transition: 100ms all ease-in-out;
            transition: 100ms all ease-in-out; }
    nav a:hover {
      border-bottom: 1px solid black; }
  nav .right a {
    padding: 20px 0; }
  nav .left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 600px; }
  header .brand {
    background-image: url(../img/logo.svg);
    background-size: cover;
    background-position: center;
    height: 135px;
    width: 135px;
    margin: 20px 0; }
  header h1 {
    font-family: "intro_bookregular";
    font-size: 2.5em;
    font-weight: 300;
    padding: 0 0 20px 0; }
  header h2 {
    font-size: 1.5em;
    font-weight: 300;
    padding: 0; }
  header a.cta {
    color: white;
    margin: 40px 0;
    padding: 10px 40px;
    background: #BA3525;
    -webkit-transition: 200ms all ease-in-out;
            transition: 200ms all ease-in-out;
    font-size: 1.2em;
    font-weight: 300; }
    header a.cta:hover {
      background: #A22F21;
      color: white; }
