nav
  display: flex
  max-height: 100px
  padding: 20px 0
  line-height: 2.5em
  bottom: 0
  position: absolute
  width: 100vw
  justify-content: center
  align-items: center
  a
    margin: 0 15px
    font:
      family: $HelveticaNeueMedium
      size: .8em
    color: $grey
    transition: 100ms all ease-in-out
    text:
      transform: uppercase
      decoration: none
    &:hover
      color: $dark-gray-brown
