html, body {
  background-color: #444E64 !important;
  width: 100%; }

body {
  margin: 0px;
  font-family: "intro_bookregular" !important; }

.structure {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 8px; }

.leggo {
  max-width: 420px;
  margin: auto; }

.buttons {
  display: inline; }

a {
  text-decoration: none !important; }

.icon {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background: url("../img/icon.svg");
  background-size: 35px 35px;
  height: 35px;
  width: 35px;
  display: inline;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

h1 {
  font-family: "intro_thinregular", helvetica, arial, sans-serif;
  font-size: 32px;
  color: #FDFFFF !important; }

.description {
  font-family: "intro_lightregular", helvetica, arial, sans-serif;
  font-size: 15px;
  color: #FDFFFF !important;
  line-height: 24px;
  margin-bottom: 20px; }
  .description a {
    color: #DAEAEF !important;
    font-family: "intro_bookregular";
    font-weight: bold;
    font-size: 15px; }

.footer {
  font-family: Arial;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  color: #A8B3B8;
  margin-top: 20px; }

.buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  .buttons .fa {
    line-height: 1.6;
    color: #3A4553;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .buttons .github:hover > i {
    color: white;
    -webkit-transition: 0.8s;
    transition: 0.8s; }

.contact {
  border: 2px solid #DD025A;
  background-color: #DD025A;
  border-radius: 2px;
  text-indent: 0;
  display: inline-block;
  color: #FFF;
  font-family: Arial;
  font-size: 11px;
  font-weight: bold;
  height: 35px;
  line-height: 35px;
  width: 145px;
  text-decoration: none;
  text-align: center;
  margin-right: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-transform: uppercase; }

.contact:hover {
  border: 2px solid #ECECEC;
  background-color: #ECECEC;
  color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.contact:active {
  position: relative;
  top: 1px; }

.github {
  border: 2px solid #3A4553;
  border-radius: 3px;
  text-indent: 0;
  display: inline-block;
  color: #FFF;
  font-family: Arial;
  font-size: 11px;
  font-weight: bold;
  height: 35px;
  line-height: 35px;
  width: 40px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-transform: uppercase;
  margin-right: 15px; }

.github:hover {
  border-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.github:active {
  position: relative;
  top: 1px; }

i {
  border-radius: 3px; }

.profile {
  text-indent: 0;
  display: inline-block;
  height: 40px;
  width: 40px;
  -webkit-transition: 0.5s;
          transition: 0.5s; }

.profile:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.profile:active {
  position: relative;
  top: 1px; }

.btn {
  overflow: hidden !important;
  border-radius: 3px !important;
  width: 40px !important;
  height: 35px !important;
  border: 2px solid #3A4553 !important;
  -webkit-transition: 0.5s !important;
  transition: 0.5s !important;
  margin-right: 15px !important; }
  .btn:hover {
    border-color: white !important; }

.img-1 {
  background: url("https://pbs.twimg.com/profile_images/570871858028941312/MPGCKwt_.jpeg");
  background-size: 40px 40px !important;
  -webkit-filter: blur(1.5px);
          filter: blur(1.5px);
  border-radius: 3; }

.img-2 {
  background: url("https://pbs.twimg.com/profile_images/499802552444002304/DOFJYVaV.jpeg");
  background-size: 40px 40px;
  -webkit-filter: blur(1.5px);
          filter: blur(1.5px);
  border-radius: 3; }

.btn:hover > .img-1 {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-transition: 0.8s;
  transition: 0.8s; }

.btn:hover > .img-2 {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-transition: 0.8s;
  transition: 0.8s; }

.btn {
  display: inline-block;
  padding: 0px !important; }

.popover {
  font-family: "intro_bookregular"; }

@media screen and (max-width: 600px) {
  .structure {
    margin-left: 8px; }

  .description {
    width: 95%;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px; }

  .icon {
    margin-left: 10px;
    background: url("../img/icon.svg");
    background-size: 35px 35px;
    height: 35px;
    width: 35px;
    display: inline;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

  .leggo h1 {
    padding-left: 10px; }

  .twitter {
    margin-right: 5px;
    margin-left: 3%;
    width: 43%; }

  .footer {
    text-align: center;
    -webkit-text-size-adjust: none; } }
