doctype html
html(lang="en")
  head
    title Cosmic Labs
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="author", content="Cosmic Labs")
    link(rel="mask-icon", href="img/website_logo.svg", color="#FFAD51")
    link(rel="stylesheet", href="css/main.css")
    link(rel="apple-touch-icon", href="img/logo.png")
    link(rel="shortcut icon", href="img/logo.png")
  body
    input(type="checkbox",id="toggler",name="",value="1")
    .wrap
      label.toggle(for="toggler") 
        span.fa.fa-bars
      a(href="")
        .brand  
      h1 Let's build something beautiful.
      h2 We strive to build marvellous applications that focus <br> on intuitive design and user-centric experiences.
      a.cta(href="") Start your project
      nav
        a(href="https://medium.com/cosmic-labs") Stories
        a(href="mailto:general@cosmiclabs.io") Contact
        a(href="") Hiring
        a(href="https://www.twitter.com/cosmiclabsio") Twitter
        a(href="https://github.com/cosmiclabsio") GitHub
