doctype html
html
  head
    title Cosmic Labs
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    meta(name="description",content="")
    meta(name="keywords",content="")
    meta(name="author",content="Cosmic Labs")
    link(rel="stylesheet",href="css/main.css")
    link(rel="apple-touch-icon" href="img/apple-touch-icon.png")
    link(rel="icon" href="img/favicon.ico")
  body
    nav
      .left
        .brand
        a(href="") Projects
        a(href="") Labs
        a(href="") Blog
        a(href="") Contact
      .right
        a(href="") Roadmap
        a(href="") Jobs
    header
      h1 Let's build something beautiful.
      h2 We help you aspire to greatness.
      a.cta Get in touch
