doctype html
html(lang="en")
	head
		title Cosmic Labs - Labs
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="description",content="")
		meta(name="keywords",content="")
		meta(name="author",content="Cosmic Labs")
		link(rel="shortcut icon", href="../img/logo.png")
		link(href="../css/labs.css", rel="stylesheet")
	body
		.wrap
			.brand  
			h1 The uni replacement for developers.
			h2 We want to help dedicated young men and women enter the tech industry with
			h2 the skills and expertise they need to make a difference.
			
			.block
				.left
					h1 Heading
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				.right
					h1 Heading
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					
					
			a.cta(href="") Learn More
			
			nav
				a(href="") Works
				a(href="#") Labs
				a(href="https://medium.com/cosmic-labs") Stories
				a(href="") Contact
				a(href="https://www.twitter.com/cosmiclabsio") Twitter
				a(href="") Hiring
