doctype html
html(lang="en")
	head
		title Labs
		link(rel="icon", sizes="any", mask="", href="../img/favicon.svg")
		meta(name="theme-color", content="#333")
		link(rel="shortcut icon", href="../img/logo.png")
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="../css/labs.css", rel="stylesheet")
	body
		.wrap
			.brand  
			h1 Let's build something beautiful.
			h2 We strive to build marvellous applications that focus
			h2 on intuitive design and user-centric experiences.
			
			.block
				.left
					h1 Heading
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				.right
					h1 Heading
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					
					
			a.cta(href="") Start your project
			
			nav
				a(href="") Works
				a(href="#") Labs
				a(href="https://medium.com/cosmic-labs") Stories
				a(href="") Contact
				a(href="https://www.twitter.com/cosmiclabsio") Twitter
				a(href="") Hiring
